.App {
  text-align: center;
}

html{
  background-color:rgba(0, 0, 0, 0.849)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mangalist-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing:0.1rem;
  border-bottom:1px solid white;
  font-size: 1.5rem;
}
.mangalist-box{
  position: relative;
}
.sticky-nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #272727;
  width:100%;
}
.sticky-nav > ul{
  display: flex;
  flex-direction: row;
}
.sticky-nav > ul >li {
  padding :1rem;
}
.recherche-box-input{
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
  margin-left:2.5rem;
}

.manga-box{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;

  width:100%;
  height: auto;
  color:white;
}

.manga-card > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
}
.manga-card > p{
  font-weight: bold;
}
.manga-card{
  display:flex;
  flex-direction: column;
  flex: 1 0 21%; /* explanation below */
  align-items: center;
  padding-bottom: 2rem;
}
.manga-links{
  border:1px solid red;
}

.chapter-box{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:100vh;
  width: 100%;


}
.manga-presentation-box{
  width: 60%;
  min-width: 60%;
  height:100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chapter-flex{
  display: flex;
  flex-direction: row;
  width:100%;
  flex-wrap: wrap;
  height:auto;
  justify-content: center;

}
.manga-name{
  color:white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top:0;
}
.manga-description{
  color:white;
  font-size: 1.1rem;
  padding:1rem;
  margin-right:1rem;
  background-color: rgb(18, 59, 71);
  text-align: justify;
  max-width: 80%;
  min-width: 60%;
}

.cover-manga{

}

.list-chapters{
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: rgb(44, 113, 134);
  text-align: center;
  min-width: 25rem;
  font-size:1.3rem;
  margin:1rem;
}
.list-chapters:hover{
  color: white;
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(46, 182, 228);
  text-align: center;
}

.selector{
  min-width: 15rem;
  background-color: rgb(44, 113, 134);
  height: auto;
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  color: white;
  border:1px solid white;
  margin-top:2rem;

}
.selector option {
  font-weight: bold;
  font-size: 0.8rem;
  zoom: 1.5;
}


.Pagebox{
  display:flex;
  width: 100%;
  justify-content: center;
}
.Page{
  width: auto;
  height: auto;
  min-width: 55%;
  max-width: 80%;
  display: flex;
 
}

.fixed-nav{
  top: 0;
  background-color: #272727;
  width:100%;
}
.fixed-nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fixed-nav > ul >li {
  padding :1rem;
}
.manga-infos{
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .manga-presentation-box{
    width:95%;
  }
  .manga-presentation-box-top{
    display: flex;
    flex-direction: column;
  }
  .manga-name{
    width:100%;
    display: flex;
    align-self: center;
  }
  

}